body {
    background-image:url(imgs/doom-eternal-nekravol-collectables.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255)
}

h1:hover {
    color: #05fff2;
}

.linha {
    float: left;
}

.linha h3 {
    color:#ffffff;
    text-align: center;
    font-size: 30px;
}

.linha:hover h3 {
    color: #05fff2;
}

.container {
    margin-left: 350px;
}

.doom-logo {
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px 20px 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    background: url(imgs/EKPAJXZWsAAkQkg.png) #05fff2;
    background-size: contain;
}

.doom-logo:hover {
    background-image: url(imgs/Doom-1-icon.png);
    background-size: contain;
    background-position: center center;
}

.killer-logo {
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px 20px 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    background: url(imgs/adesivo-do-controle-super-nintendo.jpg);
    /*background-color: darkblue;*/
    background-size: contain;
    background-position: center;
}

.killer-logo:hover {
    background: url(imgs/k.i\ logo.jpg) #05fff2;
    background-size: contain;
    background-position: center center;
}

.unreal-logo {
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px 20px 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    background: url(imgs/00playstation2.jpg);
    background-size: contain;
    background-position: center;
}

.unreal-logo:hover {
    background: url(imgs/Unreal-Tournament-Logo.jpg) #05fff2;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/*.logo:hover {
    background: #52fa04;
}*/
